body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
section{

    display: flex;
    margin-bottom: 150PX;
}
.half-width{

    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 60%;
}
.hire{
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 40px;
    text-decoration: none;


}
.pic{

    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}
.pic2{

    background-image: url(pic/dream-bg.png);
    background-position: right;
}