body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color{
    color: orange;
}
.flexible{

    display: flex;
    margin-bottom: 150PX;
}
.half-width{

    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 60%;
}
.hire{
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 40px;
    text-decoration: none;


}
.pic{

    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}
.pic2{

    background-image: url(pic/dream-bg.png);
    background-position: right;
}
.dream{
    display: flex;
    
}
.pro{
    color: orange;
}
.another{
    width: 40%;
    box-shadow: 10px 10px 40px grey;
    margin-right: 5% ;
    margin-left: 5%;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
.area{
    background-image: url(pic/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan );
    border-image-slice: 1;
}
#web2{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato );
    border-image-slice: 1;
   
}
footer p{
    text-align: center;
}

